@{
    ViewData["Title"] = "IT Inventory - First-Time Setup";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewData["Title"]</h1>
    <p>Here, we will take you through some steps to configure your IT Inventory installation.</p>
    <a asp-action="IncrementStep" asp-area="Setup" asp-controller="Home" role="button" class="btn btn-primary btn-lg">Continue</a>
</div>
